@model IEnumerable<DoAnLapTrinhWeb.Model.Category>

@{
	ViewData["Title"] = "Categories";
}


<p>
	<a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CategoryId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					<img style="max-width: 4rem;" src="@item.ImageUrl"></img>
				</td>
				<td>
					<a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CategoryId">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
