@model IEnumerable<DoAnLapTrinhWeb.Model.Service>

@{
	ViewData["Title"] = "Index";
}

<p>
	<a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DeliveryCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalDeliveryTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Like)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Thumbnail)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Category.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DeliveryCount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TotalDeliveryTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Like)
				</td>
				<td>
					<img style="max-width: 4rem;" src="@item.ThumbnailUrl"></img>
				</td>
				<td>
					<a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ServiceId">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
